@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color:rgb(0, 0, 0);
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    color:rgb(2, 21, 38);
  }

  .header {
    width: 100%;
    height: 80px;
    display: block;
    background-color:#B39CD0;
  }

  .inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .logo {
    height: 100%;
    display: table;
    float: left;
  }
  
  .logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 55px;
    float: left;
    font-weight: 150;
  }

  .logo h1 span {
    font-weight: 1000;
  }

  .logo, .menu {
    line-height: 80px;
  }
  
  .menu {
    float: right;
    height: 100%;
    display: table;
    font-size: 100%;
    letter-spacing: 3px;
  }
 
  .menu a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
  }

  .menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 20px;
  }
  /*section1 bellow*/
  .sock-outer {
    height: 410px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-color: rgb(208, 187, 228);
  }
   
  .sock-img{
    margin: 0px;
    height: 400px;
    width: 100%;
    
    background: url("https://img.freepik.com/free-photo/new-socks-isolated-white_1203-2879.jpg?w=740&t=st=1663008669~exp=1663009269~hmac=7a071496af317214ae5bc49e31400fc7f10348f01d8ea076c4a346d3433dc0d7") repeat center center;
    /* this one is to make animation move forwards*/
    animation-name: sock-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-size: absolute;
    right: 20%; 
  }

@keyframes sock-zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.cover-text, .cover-text h2 {
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  animation-name: sock-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: absolute;
  right: 20%;
}

.cover-text {
  margin-right: 30px;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  

  width: 500px;
  height: 50px;

  padding-top: 10px;
  padding-left: 10px;

  bottom: 50px;
  right: 150px;

  position: absolute;
  /* From https://css.glass */
  background: rgba(0, 201, 167, 0.86);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(0, 201, 167, 1);
}

.reasons {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
  background: url(https://images.unsplash.com/photo-1610557892470-55d9e80c0bce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1439&q=80) repeat center center;
}