@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color:rgb(0, 0, 0);
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    color:rgb(2, 21, 38);
  }

  .header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(184, 184, 220);
  }

  .inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .logo {
    height: 100%;
    display: table;
    float: left;
  }
  
  .logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 55px;
    float: left;
    font-weight: 150;
  }

  .logo h1 span {
    font-weight: 1000;
  }

  .logo, .menu {
    line-height: 75px;
  }
  
  .menu {
    float: right;
    height: 100%;
    display: table;
    font-size: 100%;
    letter-spacing: 3px;
  }
 
  .menu a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
  }

  .menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 20px;
 
  }
    
