@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    color:rgb(2, 21, 38);
  }

  .header {
    width: 100vw;
    height: 80px;
    display: block;
    background-color:#B39CD0;
  }

  .inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .logo {
    height: 100%;
    display: table;
    float: left;
  }
  
  .logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 55px;
    float: left;
    font-weight: 150;
  }

  .logo h1 span {
    font-weight: 1000;
  }

  .logo, .menu {
    line-height: 80px;
  }
  
  .menu {
    float: right;
    height: 100%;
    display: table;
    font-size: 100%;
    letter-spacing: 3px;
  }
 
  .menu a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
  }

  .menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 20px;
  }
  
  .sock-outer {
    height: 390px;
    width: 100vw;
    overflow: hidden;
    position: relative; 
    background-color: rgb(208, 187, 228);
  }
   
  .sock-img{
    margin: 0px;
    height: 490px;
    width: 100%;
    
    background: url('https://img.freepik.com/free-photo/new-socks-isolated-white_1203-2879.jpg?w=740&t=st=1663008669~exp=1663009269~hmac=7a071496af317214ae5bc49e31400fc7f10348f01d8ea076c4a346d3433dc0d7') repeat center center;
    /* this one is to make animation move forwards*/
    animation-name: sock-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-size: absolute;
    right: 20%; 
  }

@keyframes sock-zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.cover-text, .cover-text h2 {
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  animation-name: sock-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: absolute;
  right: 20%;
}

.cover-text {
  margin-right: 30px;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; 
  
  width: 500px;
  height: 50px;

  padding-top: 10px;
  padding-left: 10px;

  bottom: 300px;
  right: 150px;

  position: absolute;
  /* From https://css.glass */
  background: rgba(0, 201, 167, 0.86);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(0, 201, 167, 1);
}
/*section2 bellow*/
.reasons {
  height: 700px;
  width: 100vw;
  margin-top: 0 auto;
  background: url(https://images.unsplash.com/photo-1610557892470-55d9e80c0bce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1439&q=80) no-repeat center center;
  background-size: 130%;
  background-attachment: fixed;
  position: relative;
}

.yellow-sock {
  height: 500px;
  width: 600px;
  border: 0px;
  object-fit: contain;
  position: absolute;
  top: 20px;
  left: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: url(https://images.unsplash.com/photo-1640025867572-f6b3a8410c81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80) no-repeat center center;
}

.title {
  width: 50%;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  position: relative;
  top: 25px;
  left: 20px;
  /* From https://css.glass */
  background: rgba(255, 128, 102, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 128, 102, 0.27);
  display: block;
  margin: 20px auto;
  width: 50%;
  color: white;
}

.why {
  display: block;
  margin: 30px auto;
  width: 40%;
}
hr {
  border-top: 2px solid #936C00;
  width: 80%;
  margin: 5px 0;
  box-align: middle;
}
.why-headnig {
  /* From https://css.glass */
  background: rgba(255, 128, 102, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 128, 102, 0.27);
  display: block;
  margin: 20px auto;
  width: 70%;
  color: white;
  text-align: center;
  top: 20px;
}

.gallery {
  height: 1000px;
  width: 100vw;
  background: url(https://images.unsplash.com/photo-1610557892470-55d9e80c0bce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1439&q=80) no-repeat center center;
  background-size: 130%;
  background-attachment: fixed;
  position: relative;
}

.inner-gallery {
  width: 100vw;
  position: relative;
  top: 10px;
  left: 5%;
  column-count: 2;
  column-gap: 1px;
}

.inner-gallery img {
  width: 450px;
  height: auto;
}

.sign-bground {
  height: 600px;
  width: 100vw;
  margin-top: 0 auto;
  background: url(https://images.unsplash.com/photo-1610557892470-55d9e80c0bce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1439&q=80) no-repeat center center;
  background-size: 130%;
  background-attachment: fixed;
  position: relative;
}

.logo-box h1 {
  background: rgba(255, 128, 102, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 128, 102, 0.27);

  color: white;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 150px;
  display: block;

  font-size: 20px;
  float: left 50px;
  
  font-weight: 150;
  position: relative;
  top: 50px;
  left: 400px;
}

.logo-box h1 span {
  font-weight: 1000;
}

.sign-box {
  background: rgba(255, 128, 102, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 128, 102, 0.27);
  display: block;
  margin: 10 auto;
  width: 40%;
  color: white;
  text-align: match-parent;
  top: 5px;
  position: relative;
  top: 60px;
  left: 30%;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.tellus {
  width: 50%;
  height: 60px;
  text-align: center;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.social-networks {
  background-color: rgb(208, 187, 228);
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 100px;
  text-align: center; 
}

.social-networks li {
  display: inline;
}


.social-networks i {
  color: black;
  font-size: 100%;
  margin: 0.01%;
  padding: 5px 0;
  top: 30px;
  
}*/

.footer {
  position: fixed;
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: rgb(208, 187, 228);
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
}
.social-networks {
  background-color: rgb(208, 187, 228);
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 100px;
  text-align: center; 
}

.social-networks li {
  display: inline;
}

.social-networks i {
  color: black;
  font-size: 100%;
  margin: 0.01%;
  padding: 5px 0;
  top: 30px;
}